.nav-ui {
    background-color: var(--colors-gray_900);
}

.nav-ui > menu {
    display: flex;
    margin: 0;
}

.nav-ui > menu > li {
    color: var(--colors-white);
    padding: 10px;
    list-style: none;
}

.nav-ui > menu > li:hover {
    color: var(--colors-primary_500);
    cursor: pointer;
}